<h1>Chat</h1>

<div id="messages">
  <%= render @messages %>
</div>

<%= turbo_stream_from "messages" %>

<%= form_with model: @message, url: messages_path do |f| %>
  <div>
    <%= f.text_area :content, rows: 3, placeholder: "Type your message..." %>
  </div>
  <div>
    <%= f.submit "Send" %>
  </div>
<% end %>

<%= console %>
